<div cdkDropList [cdkDropListData]="tasks" class="example-list" (cdkDropListDropped)="drop($event)">
  <div class="example-box" *ngFor="let task of tasks; let i = index" cdkDrag [ngClass]="task && task.storyPoints && task.storyPoints <= 3 ? 'green-brd' :
                  task && task.storyPoints && (task.storyPoints > 3 && task.storyPoints <= 7 ) ?  'blue-brd' :
                  task && task.storyPoints && task.storyPoints >7 ? 'red-brd' : ''">
    <div class="desc-section">
      {{task.description}}
      <span class="story-points"> {{task.storyPoints}} </span>
    </div>

    <div class="edit-section">
      <button mat-icon-button color="warm" (click)="deleteTask(i)">
        <mat-icon>
          delete
        </mat-icon>
      </button>

      <button *ngIf="canEditTask" mat-icon-button color="primary" (click)="onEdit(task, i)">
        <mat-icon>
          edit
        </mat-icon>
      </button>

      <button *ngIf="isTaskCompleted" mat-icon-button color="primary">
        <mat-icon>
          check_circle
        </mat-icon>
      </button>

    </div>
  </div>
</div>
